/* ##################### common tools #######################3 */



.bg-black{
    background-color: #000 ;
}

.black-overlay{
    width: 100%;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}
.bg-gray{
    background-color: rgb(236, 235, 235,0.5);
}

.clicked:focus{
    background-color: #333;

}

.w-15{
    width: 15%;
}
.w-90{
    width: 90%;
}
.h-90{
    height: 90%;
}
.border-3{
    border-width: 2px !important;
}









/* ##################### Head section #######################3 */
.head{

    background-image: url(../img/head-bg.jpg);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;

}







